@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
}

a {
    @apply hover:bg-violet hover:text-white py-1 px-2 rounded;
}

.button {
    @apply p-4 text-xl text-white bg-violet rounded-lg no-underline text-center flex items-center justify-center;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.3);
    transition:
        box-shadow 0.3s ease-in-out,
        transform 0.1s ease-in-out;
}
.button:hover {
    box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.3);
}
.button:active {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
    transform: translateY(3px);
    transition: all 0s;
}

h1 {
    @apply text-4xl;
}
h2 {
    @apply text-3xl;
}
h3 {
    @apply text-2xl;
}
h4 {
    @apply text-xl;
}
h5 {
    @apply text-lg;
}
h6 {
    @apply text-base;
}
