@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
}

a {
    @apply hover:bg-violet hover:text-white py-[0.15rem] px-[0.3rem] mx-[0.15rem] rounded;
}

.button {
    @apply p-4 text-xl text-thistle bg-violet rounded-lg no-underline text-center flex items-center justify-center;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.3);
    transition:
        box-shadow 0.3s ease-in-out,
        transform 0.1s ease-in-out;
}
.button:hover,
.button:focus {
    box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.3);
}

.button:active,
.button.active {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
    transform: translateY(3px);
    transition: all 0s;
}
.button.disabled {
    @apply bg-lightModeDisabledGray dark:bg-disabledGray text-lightModeDisabledLightGray dark:text-disabledLightGray;
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none;
}
button.disabled img {
    opacity: 0.5;
}
.button.complete {
    position: relative;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
    transform: translateY(3px);
    opacity: 0.7;
}

h1 {
    @apply text-4xl;
}
h2 {
    @apply text-3xl;
}
h3 {
    @apply text-2xl;
}
h4 {
    @apply text-xl;
}
h5 {
    @apply text-lg;
}
h6 {
    @apply text-base;
}
